@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  background: hsl(213, 44%, 95%);
}

.testimonials {
  max-width: 1440px;
  margin: auto;
  padding: 1.5rem;

  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 1.8rem;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.85rem;
  gap: 0.75rem;
}

.card-header img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 2px solid #996ed9;
}

.card-header h3 {
  font-size: 0.95rem;
}

.card-header p {
  opacity: 50%;
}

.card-lead {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1.3rem;
}

.quote {
  font-size: 0.95rem;
  font-weight: 500;
  line-height: 1.4;
  opacity: 70%;
}

.card:nth-of-type(1) {
  background: hsl(263, 55%, 52%);
  background-image: url("./images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top 0.95rem right 6.25rem;

  grid-column: 1/3;
}

.card:nth-of-type(2) {
  background-color: hsl(217, 19%, 35%);
}

.card:nth-of-type(4) {
  background: hsl(219, 29%, 14%);
  grid-column: 2/4;
}

.card:nth-of-type(5) {
  grid-column: 4/5;
  grid-row: 1/3;
}

.card:nth-of-type(2) header img,
.card:nth-of-type(5) header img,
.card:nth-of-type(3) header img {
  border-color: hsl(210, 46%, 95%);
}

.card:nth-of-type(5) .card-lead,
.card:nth-of-type(3) .card-lead {
  color: hsl(217, 19%, 35%);
}

.card:nth-of-type(1),
.card:nth-of-type(2),
.card:nth-of-type(4) {
  color: hsl(0, 0%, 100%);
}

@media (max-width: 768px) {
  .testimonials {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .card:nth-of-type(1) {
    grid-column: 1 /2;
  }

  .card:nth-of-type(4) {
    grid-column: 1;
    grid-row: 4/5;
  }

  .card:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
  }
}
